<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-md-10 col-lg-8 col-xl-6">
            <div class="alert alert-danger" *ngIf="error">
                {{error}}
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="form-text mb-2 text-muted">Enter your new password to activate your account.</div>
                    <form *ngIf="setPassForm" [formGroup]="setPassForm" (ngSubmit)="submit()">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" formControlName="password" required [ngClass]="{ 'is-valid': password.dirty && password.valid, 'is-invalid': password.dirty && !password.valid }" />
                            <div class="invalid-feedback">Password is required.</div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" formControlName="passwordConfirm" required [ngClass]="{ 'is-valid': passwordConfirm.dirty && passwordConfirm.valid, 'is-invalid': passwordConfirm.dirty && !passwordConfirm.valid }" />
                            <div class="invalid-feedback">Password confirmation is required.</div>
                        </div>
                        <button type="submit" class="btn btn-block btn-info">
                            <i class="fa fa-check"></i> Update
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-1 col-lg-2 col-xl-3"></div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 form-text text-muted">
            <a [routerLink]="['/auth', 'login']">
                <i class="fa fa-backward"></i> Back to login
            </a>
        </div>
    </div>
</div>