<h6 class="card-subtitle mb-3 text-muted">
    Use this section to balance your attendance when the counts do not match up with the total income.
</h6>
<div *ngIf="moneyForm">
    <strong>Target Income (Cash + Checks): </strong> ${{targetIncome}}
    <h4 class="mt-3">Original Totals</h4>
    <div>
        <app-balance-count [moneyForm]="moneyForm" [readOnly]="true" [hideIfTechno]="true" displayName="Adult Members" countType="CountType.Member" price="8"></app-balance-count>
        <app-balance-count [moneyForm]="moneyForm" [readOnly]="true" [hideIfTechno]="true" displayName="Adult Non-Members" countType="CountType.Nonmember" price="9"></app-balance-count>
        <app-balance-count [moneyForm]="moneyForm" [readOnly]="true" [hideIfTechno]="true" displayName="Students" countType="CountType.Student" price="5"></app-balance-count>
        <app-balance-count [moneyForm]="moneyForm" [readOnly]="true" [hideIfNotTechno]="true" displayName="Techno Dancers" countType="CountType.Techno" price="10"></app-balance-count>
        <app-balance-count [moneyForm]="moneyForm" [readOnly]="true" displayName="Listeners" countType="CountType.Listener" price="5"></app-balance-count>
        <app-balance-count [moneyForm]="moneyForm" [readOnly]="true" displayName="Memberships" countType="CountType.Membership" price="20"></app-balance-count>
        <h5>
            <strong>Sum:</strong> ${{moneyForm.totalIncome}}
        </h5>
    </div>
    <hr />
    <h4 class="mt-3">Adjusted Totals</h4>
    <div class="help-text text-muted">The following totals (ordered from most likely change to least) add up to the Target Income. Click select below to apply those counts to the form.</div>
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4 grid-row" *ngFor="let b of matchingBalances">
            <div class="col-12" *ngIf="!moneyForm.isTechno"><strong>Adult Members:</strong> <span>{{b.member}} * $8 = ${{b.member * 8}}</span></div>
            <div class="col-12" *ngIf="!moneyForm.isTechno"><strong>Adult Non-Members:</strong> <span>{{b.nonmember}} * $9 = ${{b.nonmember * 9}}</span></div>
            <div class="col-12" *ngIf="!moneyForm.isTechno"><strong>Students:</strong> <span>{{b.student}} * $5 = ${{b.student * 5}}</span></div>
            <div class="col-12" *ngIf="moneyForm.isTechno"><strong>Techno Dancers:</strong> <span>{{b.techno}} * $10 = ${{b.techno * 10}}</span></div>
            <div class="col-12"><strong>Listeners:</strong> <span>{{b.listener}} * $5 = ${{b.listener * 5}}</span></div>
            <div class="col-12"><strong>Memberships:</strong> <span>{{b.membership}} * $20 = ${{b.membership * 20}}</span></div>
            <div class="col-12">
                <button type="button" class="btn btn-primary" (click)="selectAttendance(b)">Select</button>
            </div>
        </div>
    </div>
</div>